<br>
<div class="botones">
  <div class="row justify-content-md-center">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-secondary" >Traducir</button>

      </div>

      <div class="btn-group" role="group" aria-label="Third group">
        <button type="button" class="btn btn-secondary" (click)="ejecutar()">Ejecutar</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-7 p-4">
      <div class="containers">
        <ngx-codemirror [options]="{
          lineNumbers: true,
          theme: 'abcdef',
          mode: 'javascript',
          lineWrapping : true,
          indentWithTabs: true,
          styleActiveLine: true
        }" [(ngModel)]="editor" [disabled]="false"
        [autoFocus]="true"></ngx-codemirror>
      </div>
    </div>

    <div class="col-12 col-md-3 p-4">
      <textarea class="consola" [(ngModel)]="consola"></textarea>
    </div>
  </div>



</div>